* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

body {
    font-family: sans-serif;
    min-width: 1200px;
}

/* colors */

:root {
    --w-text: white;
    --header-primary: #ff6900;
    --footer-primary: #1a1a1a;
    --heart-primary: #1a1a1a;
    --heart-hoover: #e93838;
    --onsale: #ff0000;
    --sus: #008000;
}

/* debug  */

.debug {

    * {
        border: 1px dashed black;
    }
}

/* flex */

.d-flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.c-align {
    align-items: center;
}

/* container */

.container {
    width: 80%;
    max-width: 80%;
    margin: auto
}

.card {
    width: 30%;
    max-width: 30%;
}

/* header */

header {
    background-color: var(--header-primary);

    .container {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    a {
        color: var(--w-text);
    }

    img {
        height: 2rem;
    }
}

/* main */

.top {
    position: relative;
    color: var(--w-text);

    .onsale {
        background-color: var(--onsale);
        padding: 0.2rem;
    }

    .sus {
        background-color: var(--sus);
        margin-left: 3px;
        padding: 0.2rem;
    }

}

.tags {
    position: absolute;
    top: 85%;
}

.bottom {

    .brand {
        font-size: 0.8rem;
    }
    
    .name {
        font-weight: bold;
    }
    
    .sale {
        color: red;
    }
    
    .price {
        color: grey;
        text-decoration-line: line-through;
    }
    
}
