* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

body {
    font-family: sans-serif;
    min-width: 1200px;
}

/* colors */

:root {
    --w-text: white;
    --header-primary: #ff6900;
    --footer-primary: #1a1a1a;
    --heart-primary: #1a1a1a;
    --heart-hoover: #e93838;
    --heart-bg: white;
    --onsale: #ff0000;
    --sus: #008000;
}

/* debug  */

.debug {

    * {
        border: 1px dashed black;
    }
}

/* flex */

.d-flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.c-align {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

/* container */

.container {
    width: 80%;
    max-width: 80%;
    margin: auto
}

.card {
    width: 30%;
    max-width: 30%;
    margin-top: 2rem;
}

/* header */

header {
    background-color: var(--header-primary);
    position: sticky;
    width: 100%;
    z-index: 2;

    .container {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    a {
        color: var(--w-text);
    }

    img {
        height: 2rem;
    }
}

/* main */

.top {
    position: relative;
    color: var(--w-text);

    .onsale {
        background-color: var(--onsale);
        padding: 0.4rem;
        margin-right: 3px;
    }

    .sus {
        background-color: var(--sus);
        padding: 0.4rem;
    }

    .heart {
        background-color: var(--heart-bg);
        color: black;
        font-size: 2rem;
        padding: 0.3rem 0.8rem;
        position: absolute;
        right: 0;
        top: 1%;
        z-index: 1;
    }

    .heart:hover {
        color: red;
    }

    .img-hover {
        position: absolute;
        opacity: 0;
    }

}

.top:hover .img-hover {
    opacity: 1;
}

.tags {
    position: absolute;
    top: 85%;
    z-index: 1;
    font-size: 0.8rem;
    font-weight: bold;
}

.bottom {

    .brand {
        font-size: 0.8rem;
    }

    .name {
        font-weight: bold;
    }

    .sale {
        color: red;
        font-size: 0.8rem;
    }

    .price {
        color: grey;
        text-decoration-line: line-through;
    }

}